name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-20.04
    services:
      postgres:
        image: postgres:9.5
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.7, 3.0]
        attr_json: [1.3]
        gemfile: ['rails60', 'rails61', 'rails70']

    name: ruby ${{ matrix.ruby }}, attr_json ${{ matrix.attr_json }}, ${{ matrix.gemfile }}

    env:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      ATTR_JSON_VERSION: ${{ matrix.attr_json }}
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile

    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Prepare test
      run: |
        cd spec/dummy
        BUNDLE_GEMFILE=../../${{ env.BUNDLE_GEMFILE }} RAILS_ENV=test bundle exec rake db:create db:migrate db:seed
        cd ../..
    - name: Run test
      run: |
        DEBUG=1 bundle exec rspec
