name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-24.04
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.0', 3.1, 3.2, 3.3, 3.4, '4.0']
        gemfile: ['rails70', 'rails71', 'rails72', 'rails80', 'rails81']
        attr_json: ['2.0', 2.1, 2.2, 2.3, 2.4, 2.5, 2.6]
        exclude:
          - ruby: 3.0
            gemfile: rails72
          - ruby: 3.0
            gemfile: rails80
          - ruby: 3.0
            gemfile: rails81
          - ruby: 3.1
            gemfile: rails80
          - ruby: 3.1
            gemfile: rails81
          - attr_json: 2.0
            gemfile: rails71
          - attr_json: 2.0
            gemfile: rails72
          - attr_json: 2.0
            gemfile: rails80
          - attr_json: 2.0
            gemfile: rails81
          - attr_json: 2.1
            gemfile: rails71
          - attr_json: 2.1
            gemfile: rails72
          - attr_json: 2.1
            gemfile: rails80
          - attr_json: 2.1
            gemfile: rails81
          - attr_json: 2.2
            gemfile: rails71
          - attr_json: 2.2
            gemfile: rails72
          - attr_json: 2.2
            gemfile: rails80
          - attr_json: 2.2
            gemfile: rails81
          - attr_json: 2.3
            gemfile: rails72
          - attr_json: 2.3
            gemfile: rails80
          - attr_json: 2.3
            gemfile: rails81
          - attr_json: 2.4
            gemfile: rails80
          - attr_json: 2.4
            gemfile: rails81
          - attr_json: 2.5
            gemfile: rails81

    name: ruby ${{ matrix.ruby }}, ${{ matrix.gemfile }}, attr_json ${{ matrix.attr_json }}

    env:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      ATTR_JSON_VERSION: ${{ matrix.attr_json }}.0
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile

    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Bundle list
      run: |
        bundle list
    - name: Prepare test
      run: |
        cd spec/dummy
        BUNDLE_GEMFILE=../../${{ env.BUNDLE_GEMFILE }} RAILS_ENV=test bundle exec rake db:create db:migrate db:seed
        cd ../..
    - name: Run test
      run: |
        DEBUG=1 bundle exec rspec
